@model Cinematron.DAL.Models.Movie
@{
    ViewData["Title"] = @Model.Title;
}
@section Styles {
    <link rel="stylesheet" href="~/css/video.css">
}
<table>
    <tr>
        <td rowspan="2">
            <div class="image-title">
                <img id="myImg" src="@Model.ThumbnailUrl" alt="Movie">
            </div>
        </td>
        <td>
            <div class="text-title">
                <h1 class="text-white"><strong>@Model.Title</strong></h1>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <div class="text-white">
                <h5>Type: Movie</h5><br>
                <h5>Duration: @Model.Duration</h5>
            </div>
        </td>
    </tr>
</table>
<textarea readonly class="text-white">@Model.Description</textarea>
<div style="display:flex; justify-content: center;">
    <video controls>
        <source src="@Url.Action("GetVideo", "Video", new { path = Model.VideoUrl})" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div id="customModal" class="modal-custom">
    <span class="close-custom">&times;</span>
    <img class="modal-content-custom" id="img01">
    <div id="caption"></div>
</div>
@section Scripts {
    <script>
        var modal = document.getElementById("customModal");


        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }


        var span = document.getElementsByClassName("close-custom")[0];


        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
}
